/*  variables  */
$large_mobile: 360px
$small_tablet: 600px
$tablet: 768px
$large_tablet: 1024px
$desktop: 1200px

// colors
$bgcolor: #F7F7F7
$black: #201F1F
$white: #FFFFFF
$text: #333333
$nav-link: #2C2D2E
$gray: #505050
$pink: #FFE4D0
$hover: rgba(160, 60, 70, 0.85)
$danger: rgb(231, 0, 0)

// fonts
$abril: 'Abril Fatface', cursive
$montserrat: 'Montserrat', sans-serif


/*  mixin  */
@mixin title ($size, $align, $height)
  font-size: $size
  text-align: $align
  line-height: $height
  font-family: $abril
  font-weight: 500

@mixin title_line
  display: block
  margin: 0

@mixin font ($color, $size, $weight)
  color: $color
  font-size: $size
  font-weight: $weight

@mixin flex ($justify, $align, $direction)
  display: flex
  justify-content: $justify
  align-items: $align
  flex-direction: $direction

@mixin list
  padding: 0
  margin: 0
  list-style: none

  & a
    text-decoration: none

@mixin text ($small_tablet, $tablet)
  width: 80%
  margin: 7vh auto 20vh auto

  @media (min-width: #{$small_tablet})
    width: 60%
    margin: 70px auto

  @media (min-width: #{$tablet})
    width: 40%
    max-width: 600px
    margin: 0

@mixin picture ($small_tablet, $tablet, $desktop)
  width: 70%
  height: 70vh
  max-height: 440px
  margin: 20vh auto

  @media (min-width: #{$small_tablet})
    height: 60vh
    min-height: 350px
    max-height: 400px
    max-width: 250px
    margin: 100px auto

  @media (min-width: #{$tablet})
    width: 32%
    max-width: 220px
    height: 350px
    max-height: 350px
    margin: 0

  @media (min-width: #{$desktop})
    align-self: flex-end
    max-width: 320px
    height: 500px
    max-height: 500px

@mixin wrapper ($tablet, $desktop, $direction)
  @media (min-width: #{$tablet})
    height: min-content
    justify-content: space-around
    @include flex (space-evenly, center, #{$direction})

  @media (min-width: #{$desktop})
    height: 360px

@mixin wide_text ($small_tablet, $tablet, $desktop)
  width: 80%

  @media (min-width: #{$small_tablet})
    width: 70%

  @media (min-width: #{$tablet})
    max-width: 550px

  @media (min-width: #{$desktop})
    max-width: 750px





/*  general styles  */
html
  font-size: 14px
  scroll-behavior: smooth

*
  box-sizing: border-box

body
  margin: 0
  padding: 0
  font-family: $montserrat
  font-weight: 400
  line-height: 1.5rem
  color: $text

@media (min-width: $large_mobile)
  html
    font-size: 16px

@media (min-width: $small_tablet)
  html
    font-size: 14px

@media (min-width: $desktop)
  html
    font-size: 16px

  body
    line-height: 1.5rem



.title
  @include title(33px, center, 1.1)
  margin: 0
  color: $black

@media (min-width: 360px)
  .title
    font-size: 41px

@media (min-width: 600px)
  .title
    font-size: 33px

@media (min-width: 768px)
  .title
    font-size: 38px

@media (min-width: 1024px)
  .title
    font-size: 48px

@media (min-width: 1200px)
  .title
    font-size: 63px



.image
  width: 100%
  height: 100%
  object-fit: cover


.link
  width: 100%
  text-align: center

.anchor
  @include font ($black, 1rem, 500)
  text-decoration: none

  &::after
    content: '→'
    position: relative
    right: -10px
    font-size: 1rem
    transition: right 0.2s ease-out

  &:hover, &:focus, &:active
    color: $hover

  &:hover::after, &:focus::after, &:active::after
    color: $hover
    right: -16px

@media (min-width: 600px)
  .anchor::after
    font-size: 1rem

#content
  outline: none

@import subpages/home.sass
@import subpages/about.sass
@import subpages/contact.sass
@import subpages/assortment.sass



/*  navbar  */
.site-header
  z-index: 3
  position: fixed
  top: 0
  left: 0
  height: 55px
  width: 100%
  padding: 0 15px
  @include flex (space-between, center, row)
  background: white

.topbar
  z-index: 3

.topbar__logo
  margin: 0

.topbar__logo-icon
  width: 16vw
  max-width: 70px

.topbar__logo-icon-path
  fill: $black


.skip-link
  @include font(transparent, 0.8rem, 400)

  &:focus, &:active
    padding: 0.3rem 1.3rem
    background: white
    border: 1.5px solid #90bafe
    border-radius: 50px
    box-shadow: 5px 5px 10px rgba(0,0,0,.1)
    color: $black
    outline: none

.nav-button
  display: none
  position: fixed
  top: 27px
  right: 15px
  height: 28px
  width: 28px
  padding: 0
  visibility: visible
  background: none
  border: none
  transform: translateY(-50%)
  z-index: 3

  &:hover .button-icon
    fill: $text

.button-icon
  width: 100%
  height: 100%
  fill: $black

.button-icon--open
  stroke: none
  stroke-width: 0

.button-icon[aria-hidden='true']
  display: none

.button-icon[aria-hidden='false']
  display: block

.subnav
  display: none

.nav-list
  width: 65vw
  max-width: 250px
  @include list
  @include flex (space-between, center, row)

.nav-list__item:first-child
  display: none

.nav-link
  @include font (black, 0.9rem, 500)



@media (max-width: 767px)
  .js-enabled
    .site-header
      width: auto
      background: transparent

    .topbar
      margin: 0

    .topbar__logo-icon
      width: 70px
      max-width: 70px

    .nav-button
      display: block

    .nav-wrapper
      position: fixed
      top: 0
      left: 0
      width: 100%
      height: 0
      background: white
      z-index: 2
      @include flex (center, center, column)
      padding: 0 10vw
      opacity: 0

    .nav-list
      @include list
      flex-direction: column
      align-items: center
      display: none

    .nav-list__item
      width: min-content
      padding: 10px 0
      opacity: 0
      transform: translateY(-15px)
      transition: opacity .2s ease, transform .3s ease-out

    .nav-list__item:first-child
      display: block

    .nav-link
      @include font (black, 1.3rem, 500)
      text-shadow: 0 0 3px #c2c2c2
      transition: color 0.3s ease-out

    .nav-list__item:hover .nav-link
      color: $hover

    .subnav
      height: 13vh
      max-height: 90px
      width: 100%
      margin: 20px 0 50px
      @include flex (center, center, row)
      align-self: flex-end
      display: none

    .subnav-list
      @include list
      @include flex(center, center, row)
      text-align: right

    .subnav-list__item
      width: auto
      padding: 0 10px

    .subnav-link
      @include font ($nav-link, 1rem, 500)
      text-shadow: 0 0 3px #c2c2c2
      transition: color 0.3s ease-out

    .subnav-list__item:hover .subnav-link
      color: $hover

    .site-header--expanded
      & .nav-wrapper
        height: 100vh
        opacity: 1
        transition: opacity 0.3s ease-in-out

      & .subnav, & .nav-list
        display: flex

    .nav-list__item--expanded
      opacity: 1
      transform: translateY(0)

@media (min-width: $tablet)
  .site-header
    height: 60px
    padding: 0 3vw
    background: white

  .topbar__logo-icon
    max-width: 70px

  .nav-button
    display: none

  .nav-wrapper
    position: static
    width: 75vw
    max-width: 750px
    @include flex (space-between, center, row)

  .nav-list
    width: 50%
    max-width: 300px
    @include list
    @include flex (space-between, center, row)

  .nav-list__item:first-child
    display: block

  .nav-link
    @include font ($black, 1.1rem, 500)
    text-shadow: 0 0 3px #c2c2c2


  .nav-list__item:hover .nav-link, .nav-link:focus
    color: $hover

  .subnav
    width: 45%
    @include flex (space-between, center, row)

  .subnav-list
    @include list
    @include flex (space-between, center, row)

  .subnav-list__item
    padding: 0 10px

  .subnav-link
    @include font ($nav-link, 1.1rem, 400)
    text-shadow: 0 0 3px #c2c2c2

  .subnav-list__item:hover .subnav-link, .subnav-link:focus
    color: $hover


  .js-enabled
    .site-header
      padding: 0 5vw 0 25px
      background: transparent

    .overlay
      position: absolute
      top: 0
      right: 0
      width: 100%
      height: 60px
      background: white
      z-index: -1
      opacity: 0
      transition: opacity 0.2s ease-out

    .nav-wrapper
      transform: translateX(85vw)
      transition: transform 0.2s ease-in-out

    .nav-list__item
      opacity: 0
      transform: translateY(-5px)
      transition: opacity .2s ease, transform .3s ease-out

    .site-header--expanded
      //background: white
      //box-shadow: 0 10px 15px -10px rgba(0,0,0,.2)

      & .overlay
        opacity: 1

      & .nav-wrapper
        transform: translateX(0)

    .nav-list__item--expanded
      opacity: 1
      transform: translateY(0)

@media (min-width: $desktop)
  .nav-wrapper
    width: 65vw
    max-width: 850px

  .nav-list
    width: 45%
    max-width: 400px

  .nav-link
    @include font ($black, 15px, 500)

  .subnav
    width: 45%

  .subnav-list__item
    padding: 0 20px

  .subnav-link
    @include font ($nav-link, 15px, 400)





/*  header  */
.header
  padding-top: 17vh
  outline: none
  outline-offset:

.header__title
  height: 17vh

.header__picture
  height: 38vh
  min-height: 150px
  margin: 3vh 0 20vh 0


@media (min-width: $small_tablet)
  .header
    padding-top: 12vh

  .header__title
    height: auto

  .header__picture
    height: 30vh
    min-height: 250px
    margin: 50px 0 100px 0

@media (min-width: $tablet)
  .header
    padding-top: 130px
    display: flex
    flex-wrap: wrap


  .header__title
    width: 30%
    height: 26vh
    min-height: 300px
    max-height: 300px
    @include flex (center, flex-start, column)

    .title-line
      @include title_line
      padding-left: 7vw

  .header__picture
    width: 70%
    height: 22vh
    min-height: 300px
    max-height: 300px
    margin: 0

@media (min-width: $desktop)
  .header
    padding-top: 20vh

  .header__title
    font-size: 76px
    height: 55vh
    max-height: none
    position: relative

  .header__picture
    width: 70%
    height: 60vh
    max-height: 500px
    margin-top: 0
    margin-bottom: 23vh



/*  footer  */
.site-footer
  color: white
  background: #2E2D2E

.main-footer
  height: 370px
  justify-content: space-around
  @include flex (space-evenly, center, column)

.main-footer__nav
  height: 120px
  @include flex (space-between, center, column)
  @include list

.nav__item-link
  @include font (white, 1.1rem, 500)
  text-shadow: 0 0 4px #a9a9a9

  &:hover
    color: #C5C5C5

.main-footer__contact
  height: 110px
  @include flex (space-between, center, column)


.contact__social
  @include flex (space-between, center, column)
  @include list

.social__item-link
  @include font (#D5D5D5, 1rem, 400)
  text-shadow: 0 0 3px #a9a9a9

  &:hover
    color: #B5B5B5

.contact__mail
  @include font (#D5D5D5, 1rem, 400)
  margin: 0
  text-shadow: 0 0 3px #a9a9a9

  &:hover
    color: #B5B5B5

.sub-footer
  height: 3.5rem
  background: $black
  padding: 0.6rem

.sub-footer__text
  margin: 0
  line-height: 1.1rem
  text-align: center
  font-size: 0.6rem


@media (min-width: $tablet)
  .main-footer
    height: 110px
    padding: 0 50px
    flex-direction: row
    justify-content: space-between

  .main-footer__nav
    height: 100%
    width: 50%
    max-width: 400px
    flex-direction: row

  .nav__item
    text-align: left

  .main-footer__contact
    height: 35%
    width: 50%
    flex-direction: column
    align-items: flex-end

  .contact__social
    height: auto
    width: 50%
    max-width: 200px
    flex-direction: row

  .contact__mail
    margin: 0

  .sub-footer
    height: 45px
    padding: 0.3rem

@media (min-width: $large_tablet)
  .main-footer__nav
    width: 35%

  .main-footer__contact
    height: 100%
    max-width: 550px
    flex-direction: row
    align-items: center

  .nav__item-link
    font-size: 1rem

  .contact__social
    width: 40%

  .social__item-link,
  .contact__mail
    font-size: 0.9rem
