/*  variables  */
$large_mobile: 360px
$small_tablet: 600px
$tablet: 768px
$large_tablet: 1024px
$desktop: 1200px

// colors
$bgcolor: #F7F7F7
$black: #201F1F
$text: #333333
$nav-link: #2C2D2E
$gray: #757575
$pink: #FFE4D0

// fonts
$abril: 'Abril Fatface', cursive
$montserrat: 'Montserrat', sans-serif


/*  mixin  */
@mixin title ($size, $align, $height)
  font-size: $size
  text-align: $align
  line-height: $height
  font-family: $abril
  font-weight: 500

@mixin title_line
  display: block
  margin: 0

@mixin flex ($justify, $align, $direction)
  display: flex
  justify-content: $justify
  align-items: $align
  flex-direction: $direction

@mixin text ($small_tablet, $tablet)
  width: 80%
  margin: 7vh auto 20vh auto

  @media (min-width: #{$small_tablet})
    width: 60%
    margin: 70px auto

  @media (min-width: #{$tablet})
    width: 40%
    max-width: 600px
    margin: 0

@mixin picture ($small_tablet, $tablet, $desktop)
  width: 70%
  height: 70vh
  max-height: 440px
  margin: 20vh auto

  @media (min-width: #{$small_tablet})
    height: 60vh
    max-height: 400px
    max-width: 250px
    margin: 100px auto

  @media (min-width: #{$tablet})
    width: 32%
    max-width: 220px
    height: 350px
    max-height: 350px
    margin: 0

  @media (min-width: #{$desktop})
    align-self: flex-end
    max-width: 320px
    height: 500px
    max-height: 500px

@mixin wrapper ($tablet, $desktop, $direction)
  @media (min-width: #{$tablet})
    height: min-content
    @include flex (space-evenly, center, #{$direction})

  @media (min-width: #{$desktop})
    height: 380px

@mixin wide_text ($small_tablet, $tablet, $desktop)
  width: 80%

  @media (min-width: #{$small_tablet})
    width: 70%

  @media (min-width: #{$tablet})
    max-width: 550px

  @media (min-width: #{$desktop})
    max-width: 750px





/*  general styles  */
html
  font-size: 14px

*
  box-sizing: border-box

body
  margin: 0
  padding: 0
  font-family: $montserrat
  font-weight: 400
  line-height: 1.4rem
  color: $text

@media (min-width: $large_mobile)
  html
    font-size: 16px

@media (min-width: $small_tablet)
  html
    font-size: 14px

@media (min-width: $desktop)
  html
    font-size: 16px

  body
    line-height: 1.5rem



.title
  @include title(33px, center, 1.1)
  margin: 0
  color: $black

@media (min-width: 360px)
  .title
    font-size: 41px

@media (min-width: 600px)
  .title
    font-size: 33px

@media (min-width: 768px)
  .title
    font-size: 38px

@media (min-width: 1024px)
  .title
    font-size: 48px

@media (min-width: 1200px)
  .title
    font-size: 63px



.image
  width: 100%
  height: 100%
  object-fit: cover


.link
  width: 100%
  text-align: center

.anchor
  text-decoration: none
  color: $black
  font-weight: 500

  &::after
    content: '→'
    position: relative
    right: -10px
    font-size: 14px
    transition: right 0.2s ease-out

  &:hover
    color: $gray

  &:hover::after
    color: $gray
    right: -17px

@media (min-width: 600px)
  .anchor::after
    font-size: 20px



@import subpages/home.sass
@import subpages/about.sass
@import subpages/contact.sass
@import subpages/assortment.sass



/*  navbar  */
.site-header
  z-index: 3
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 70px

.topbar
  display: flex
  justify-content: space-between
  align-items: center
  height: 100%
  width: auto
  margin: 0 75px 0 25px

.topbar__logo
  z-index: 1
  margin: 0

.topbar__logo-icon
  width: 75px

.topbar__logo-icon-path
  fill: rgba(20,20,20,.9)

.topbar__social-list
  margin: 0
  padding: 0
  display: flex
  z-index: 1

.topbar-social-list__item
  list-style: none
  margin: 0 7px

.topbar-social-icon
  stroke: #000
  stroke-width: 3px
  fill: none
  width: 20px
  height: 20px

/*      navigation      */
$width: 100vw

.overlay
  position: fixed
  top: 0
  left: 0
  width: 0
  height: 100%
  visibility: hidden
  z-index: 2
  transition: all 0.2s ease-in-out

.overlay--expanded
  visibility: visible
  background: rgba(255,232,222,0.9)

.navigation
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 0

.navigation--expanded
  height: 100vh

.nav-wrapper
  height: 100vh
  width: $width
  margin-left: $width
  display: flex
  flex-direction: column
  justify-content: center
  background: rgba(255,232,222,0.9)
  opacity: 0
  visibility: visible
  z-index: 2
  transform: translate3d(0, 0, 0)

.nav-wrapper--collapsed
  transform: translate3d($width, 0, 0)
  opacity: 0
  transition: opacity .2s ease-in-out, transform .2s ease-in-out

.nav-wrapper--expanded
  transition: opacity .2s ease-in-out, transform .2s ease-in-out
  transform: translate3d(-$width, 0, 0)
  opacity: 1

.nav-button
  position: absolute
  top: 33px
  right: 25px
  height: 28px
  width: 28px
  padding: 0
  visibility: visible
  background: none
  border: none
  transform: translateY(-50%)
  z-index: 3

.button-icon
  width: 100%
  height: 100%

.button-icon[aria-hidden='true']
  display: none

.button-icon[aria-hidden='false']
  display: block

.nav-list
  display: flex
  flex-direction: column
  align-items: center
  width: min-content
  margin: 0 auto
  padding: 20px 0
  visibility: visible

.nav-list[aria-hidden="true"]
  visibility: hidden

.nav-list[aria-hidden="false"]
  visibility: visible

.nav-list__item
  padding: 15px
  list-style: none
  opacity: 0
  transform: translateY(-15px)
  transition: opacity .2s ease, transform .2s ease-out

.nav-list__logo-icon
  width: 75px

.nav-list__item--expanded
  opacity: 1
  transform: translateY(0)

.nav-link
  text-decoration: none
  font-weight: 500
  color: $black
  position: relative
  transition: color 0.5s ease-out

.nav-list__item:hover .nav-link
  color: $gray

@media (min-width: $small_tablet)
  .site-header
    height: 70px
    width: 100%

  .topbar
    margin-right: 100px

@media (min-width: $large_tablet)
  $width: 35vw
  $margin: 100vw - $width


  .overlay
    width: 0
    opacity: 0

  .overlay--expanded
    width: 0
    opacity: 0

  .nav-wrapper
    width: $width
    margin-left: 0
    transform: translate3d(-100vw, 0, 0)

  .nav-wrapper--collapsed
    width: 0
    transform: translate3d(-100vw, 0, 0)

  .nav-wrapper--expanded
    width: 100%
    margin-left: 0
    transform: translate3d(0, 0, 0)

  .nav-list
    flex-direction: row
    justify-content: center
    flex-wrap: wrap
    width: 500px
    margin: 0 auto

  .nav-list__item--logo
    width: 100%
    display: flex
    justify-content: center

  .nav-list__logo-icon
    width: 100px

  .nav-link
    font-size: 18px




/*  header  */
.header
  margin-top: 17vh

.header__title
  height: 17vh

.header__picture
  height: 38vh
  min-height: 150px
  margin: 3vh 0 20vh 0


@media (min-width: $small_tablet)
  .header
    margin-top: 12vh

  .header__title
    height: auto

  .header__picture
    height: 30vh
    margin: 50px 0 100px 0

@media (min-width: $tablet)
  .header
    margin-top: 130px
    display: flex
    flex-wrap: wrap


  .header__title
    width: 30%
    height: 22vh
    max-height: 300px
    @include flex (center, flex-start, column)

    .title-line
      @include title_line
      padding-left: 7vw

  .header__picture
    width: 70%
    height: 22vh
    max-height: 300px
    margin: 0

@media (min-width: $desktop)
  .header
    margin-top: 20vh

  .header__title
    font-size: 76px
    height: 55vh
    max-height: none
    position: relative

    .title-line
      padding-left: 4vw

      &:nth-child(2)
        padding-left: 6vw
      &:nth-child(3)
        padding-left: 8vw
      &:nth-child(4)
        padding-left: 10vw

  .header__picture
    width: 70%
    height: 60vh
    max-height: 500px
    margin-top: 0
    margin-bottom: 23vh



/*  footer  */
.site-footer
  position: relative
  color: white
  line-height: 1.1rem

.main-footer
  height: 30vh
  display: flex
  flex-direction: column
  justify-content: center
  background: $black

.main-footer__mention
  width: 100%
  height: auto
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column

.mention-paragraf
  margin: 0

.mention-paragraf__link
  text-decoration: none
  color: white
  font-weight: 600

.main-footer__social
  width: 100%
  height: auto

.social-text
  display: none

.social-list
  margin: 30px 0 0 0
  padding: 0
  display: flex
  justify-content: center
  align-items: center

.social-icon
  list-style: none
  margin: 0 7px

.social-icon-svg
  stroke: #FBFBFB
  stroke-width: 3px
  fill: none
  width: 23px
  height: 23px

.sub-footer
  background: $black
  padding: 10px

.sub-footer__text
  margin: 0
  text-align: center
  font-size: 12px
  font-weight: 300

@media (min-width: $large_mobile)
  .main-footer
    height: 25vh

@media (min-width: $small_tablet)
  .main-footer
    height: 17vh

@media (min-width: $large_tablet)
  .main-footer
    height: 130px
    flex-direction: row
    justify-content: space-between
    font-size: 16px

  .main-footer__mention
    width: calc(20vw + 290px)

  .main-footer__social
    width: calc(20vw + 315px)
    position: relative
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center

  .social-text
    display: block
    margin: 10px 0

  .social-list
    margin: 10px

  .sub-footer
    padding: 5px
